* {
    padding: 0;
    margin: 0;
    font-style: Myriad Pro;
}

.a_1_1 {
    background-color: #cc6633;
    width: 100%;
    height: 10px;
}

.a_1_2 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #003366;
}

.a_1_3 img {
    padding: 50px;
    cursor: pointer;
}

.a_1_4 {
    width: 45px;
    height: 40px;
    border-radius: 100%;
    background-color: #0099cc;
    position: relative;
    margin: 50px;
}

.a_1_y {
    display: flex;
    margin-left: -200px;
}

.a_x_y {
    padding: 0 50px 0 0;
}

.a_1_4 img {
    position: absolute;
    padding: 8px 12px;
}

.a_1_4 p {
    color: #fff;
    margin-left: 55px;
    padding-top: 10px;
}

.a_1_x {
    margin: 55px 10px 0 0;
}

.a_1_x a {
    border-radius: 100%;
    background-color: #0099cc;
    position: relative;
    padding: 5px 5px;
}


/* .....next..... */

.b_13 {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.b_13 ul {
    display: flex;
    list-style: none;
}

.b_13 ul li {
    padding: 20px 20px;
    cursor: pointer;
}

.b_13 ul li a {
    text-decoration: none;
    color: #fff;
}

.b_13 ul li a:hover {
    text-decoration: underline;
}

.carousel-item img {
    background-size: cover;
    top: 200px;
    left: -150px;
}

.cont {
    color: white;
    top: 200px;
    left: 200px;
    position: absolute;
}

.cont .but {
    margin-top: 50px;
}

.cont .but a {
    text-decoration: none;
}

.cont .but a:hover {
    text-decoration: underline;
}

.cont .but a:first-child {
    background-color: #fff;
    padding: 18px 30px;
    color: black;
}

.cont .but a:last-child {
    background-color: #cc6633;
    padding: 18px 30px;
    color: black;
    margin-left: 20px
}

.full {
    background-image: url(../image/hero-bg.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.con h1 {
    color: white;
}

.full button {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
}